<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yly.reamke_front_backend.mapper.JsErrMapper">

    <resultMap id="BaseResultMap" type="com.yly.reamke_front_backend.entity.JsErr">
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="errMsg" column="err_msg" jdbcType="VARCHAR"/>
            <result property="errType" column="err_type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,err_msg,err_type
    </sql>
</mapper>
